body{
    font-family: "Newsreader", serif;
}

/* HEADER */

.banner-container {
    position: relative;
    width: 100vw;
    margin:0px;
    padding:0px;
  }
  
  .banner-video {
    width: 100vw;
    height:30vh;
    background-color: black;
  }
  
  .banner-text {
    font-family: "Newsreader", serif;
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-size: 5em;
  }
  
  .text-overlay h1 {
    margin-bottom: 0.5em;
  }

.navbar{
    font-size: 1.5em;
    background-color: rgb(64, 2, 105);
    color: aliceblue;
}

.navbar a{
 color: white;
 text-decoration: none;
 padding:5px;
}

.navbar a:hover{
    background-color: aliceblue;
    border-radius: 15px;
    color: rgb(64, 2, 105);
    text-decoration:underline;
}

.navbar img{
    width:5vw;
    height:5vh;
    border-radius: 12px;
    margin-right: 10px;
}

/* HOME */

h1{
    font-size: 5em;
    text-align: center;
}


/* ARTICLES */

.loading{
    text-align: center;
    font-size: 2em;
}

.articles-container{
background-color: rgb(254, 253, 254);
text-align: center;
}

.article-cards{
    padding: 10px;
    margin: 20px;
    background-color: rgb(64, 2, 105);
    color: aliceblue;
    border-radius: 8px;
}

.article-cards img{
    width:20vw;
    height: 30vh;
    margin-top:10px;
    border:2px solid aliceblue;
    border-radius: 10px;
}

.article-cards:hover{
    background-color: aliceblue;
    color: rgb(64, 2, 105);
    border:1px solid white;
    border: 2px solid rgb(64, 2, 105);
}

.article-cards button{
    font-size: 1.25em;
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 12px;
}

.article-cards button:hover{
    font-size: 1.5em;
    transition: 0.5s;
    transition-timing-function: linear;
    background-color: rgb(64, 2, 105);
    color: white;

}

.button-rows{
    display:inline-block;
}

.button-rows button{
    display:inline-block;
    margin: 10px 30px;
}

.button-rows p{
    display:inline-block;
    margin: auto;
}

.vote-error{
    background-color: red;
    color: white;
    border-radius: 12px;
    padding: 5px 8px;
}

.sorting-form{
    display: inline-block;
}


/* SINGLE ARTICLE */

.single-article{
    text-align: center;
    margin-bottom:20px;
}

.single-article h2{
    font-size: 3em;
}

.single-article p{
    font-size: 1.5em;
}


.single-article Button{
    font-size: 1.5em;
    margin-bottom: 5px;
}

.single-article img{
    width:30em;
    height: 20em;
    margin:15px auto;
    padding:0px;
    border: 2px solid rgb(64, 2, 105);
    border-radius: 12px;
}


.interact-buttons{
    background-color: rgb(64, 2, 105);
    color:aliceblue;
    padding: 5px 8px;
    border: 2px solid black;
    border-radius: 12px;
}

/* COMMENTS */

.comments{
    border: 2px solid black;
    margin: 10px;
}

.comments h3{
    text-align:right;
    font-size: 1.2em;
}

.comments p{
    font-size: 1.3em;
}

.comments button{
    display: inline-block;
    background-color: rgb(64, 2, 105);
    color: aliceblue;
    width: 4em;
   margin-left: 90%;
   margin-bottom: 5px;
   border-radius: 12px;
}

.comments-button-row button{
    display:inline-block
}

.comments-button-row p{
    display:inline-block
}

.no-comment{
    font-size:2em;
    text-align: center;
    color: red;
}

#delete-button{
    text-align: center;
    color: white;
    border: 1px solid rgb(64, 2, 105);
    padding:8px 5px;
}



/* FORM */

.post-comment-form{
    margin-top:15px;
    text-align: center;
    font-size: 1.5em;
    background-color: rgb(64, 2, 105);
    color: aliceblue;
}

.post-comment-form textarea{
    width:80%;
    margin:15px auto;
}

.post-comment-form button{
    border:3px solid white;
    background-color: black;
    color: aliceblue;
    margin-bottom: 10px;
    border-radius: 12px;
}

.post-comment-form button:hover{
    border:3px solid black;
    background-color: white;
    color: rgb(64, 2, 105);
    margin-bottom: 10px;
}

.comment-posted{
    font-size:2em;
    text-align: center;
    color: rgb(64, 2, 105);
    border: 1px solid rgb(64, 2, 105);
    width: 50vw;
    margin: 10px auto;
}

.posting-error{
    font-size:1.5em;
    text-align: center;
    background-color: red;
    color: white;
    width:50vw;
    margin:10px auto;
}

/* TOPICS */
.topics-instruction{
font-size: 2.5em;
text-align: center;
}
.topics-list{
    text-align: center;
}

.topics-list button{
    text-align: center;
    font-size: 1.5em;
    list-style: none;
    border: 2px solid black;
    background-color: rgb(64, 2, 105);
    color: white;
    border-radius: 12px;
    padding:5px;
}
