body{
    font-family: "Newsreader", serif;
}

/* HEADER */

.banner-container {
    position: relative;
    width: 100vw;
    margin:0px;
    padding:0px;
  }

  .banner-video {
    width: 100vw;
    height:30vh;
    background-color: black;
  }

  .banner-text {
    font-family: "Newsreader", serif;
    position: absolute;
    top: 50%;
    left: 65%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-size: 5em;
  }

  .text-overlay h1 {
    margin-bottom: 0.5em;
  }

.navbar{
    font-size: 1.5em;
    background-color: rgb(64, 2, 105);
    color: aliceblue;
}

.navbar a{
 color: white;
 text-decoration: none;
 padding:8px;
}

.navbar a:hover{
    background-color: rgb(47, 47, 47);
    border-radius: 10px;
    color: white;
    border: 1px solid white;
    padding:7px;
}

.navbar img{
    width:5vw;
    height:5vh;
    border-radius: 12px;
    margin-right: 10px;
}

.login-logout-buttons{
    background-color: aliceblue;
    border-radius: 8px;
    margin-right: 10px;
}

.login-logout-buttons:hover{
    background-color: rgb(47, 47, 47);
    color: aliceblue;
    border-radius: 8px;
    margin-right: 10px;
}

.navbar-toggler{
    background-color: white;
    
}
.modal-title{
background-color: rgb(64, 2, 105);
color: white;
}

.modal-login-button{
    background-color: rgb(64, 2, 105);
    border: 1px solid black;
}

.modal-login-button:hover{
    background-color: rgb(47, 47, 47);
    color: white;
}

.modal-body label{
    margin:10px;
}

.modal-body input{
    margin-left:10px;
}

/* MEDIA QURIES FOR HEADER */

@media only screen and (max-width: 600px) {
  .banner-text{
    font-size: 2em;
   }
   .banner-video {
    height:15vh;
   }
  .navbar{
    font-size: 1em;
  }

  .navbar a:hover{
    padding:5px;
  }

  .navbar-toggler{
    margin-bottom: 8px;
  }
  .navbar img{
    width:50px
  }
  .header-username{
    margin-top:5px;
  }
  }



/* HOME */

h1{
    font-size: 5em;
    text-align: center;
    margin-top: 10px;
}

.user-welcome-name{
    font-size: 0.75em;
}

.carousel{
    background-color: rgb(64, 2, 105);
    width:40vw;
    height:30vw;
    margin: 10px 50px;
    border-radius: 20px;
}


.carousel img{
    text-align: center;
    width:100%;
    height: 90%;
   margin: auto;
   border-top-left-radius: 20px;
   border-top-right-radius: 20px;
}
.carousel h3{
    background-color: rgb(0, 0, 0, 0.5);
    border-radius: 8px;
}

.carousel button{
    background-color: black;
    color: white;
    border-radius: 12px;
    padding:5px;
}

.carousel button:hover{
    background-color:rgb(64, 2, 105);
    color: white;
    border-radius: 12px;
    padding:5px;
    font-size: 1.5em;
    transition: 0.3s;
    transition-timing-function: linear;
}

/* MEDIA QURIES FOR HOME */

@media only screen and (max-width: 600px) {
    h1{
        font-size: 2em;
    }

    .carousel{
        width:75vw;
        height:60vw;
        margin: auto;
    }

    .carousel h3{
        margin-bottom: 1px;
    }
    .home-text{
        text-align: center;
    }
    .home-text h2{
        margin-top:10px;
        font-size: 1.5em;
    }
    .home-text p{
        font-size: 1.2em;
        padding:8px;
    }
   }

/* ARTICLES */

.loading{
    text-align: center;
    font-size: 2em;
}

.articles-container{
background-color: rgb(254, 253, 254);
text-align: center;
}

.article-cards{
    padding: 10px;
    margin: 20px;
    border-radius: 8px;
    border: 1px solid rgb(64, 2, 105);
}

.article-cards:hover{
    box-shadow: 0px 0px 20px 5px hsl(0deg 0% 0% / 0.5);
    background-color: rgb(64, 2, 105);
    color: white;
    border: 1px solid black;
    transition: 0.3s;
    transition-timing-function: linear;
}
.article-cards img{
    width:15vw;
    height: 20vh;
    margin-top:10px;
    margin-bottom:10px;
    border:2px solid black;
    border-radius: 10px;
}



.article-cards p{
    font-size: 1.25em;
}


.article-cards button{
    font-size: 1.25em;
    background-color: white;
    color: black;
    padding: 5px;
    border-radius: 12px;
    margin-bottom:10px;
}

.article-cards button:hover{
    transition: 0.5s;
    transition-timing-function: linear;
    background-color: rgb(47, 47, 47);
    color: white;

}

.button-rows{
    display:inline-block;
}

.button-rows button{
    display:inline-block;
    margin: 10px 30px;
}

.button-rows p{
    display:inline-block;
    margin: auto;
}

.vote-error{
    background-color: red;
    color: white;
    border-radius: 12px;
    padding: 5px 8px;
}

.sorting-form{
    display: inline-block;
}

/* MEDIA QUERIES FOR ARTICLES */
@media only screen and (max-width: 600px) {
    .article-cards{
        background-color: rgb(64, 2, 105);
        color: white;

    }
    .article-cards p{
        font-size: 1em;
    }
    .article-cards img{
        width:25vw;
        height: 10vh;
        margin-top:10px;
        margin-bottom:10px;
        border: 1px solid white;
    }
    .article-cards button{
        font-size: 1em;
    }

}

/* SINGLE ARTICLE */

.single-article{
    text-align: center;
    margin-bottom:20px;
}

.single-article h2{
    font-size: 3em;
    margin-top: 12px;
}

.single-article p{
    font-size: 1.5em;
}

.article-author a{
    color: rgb(64, 2, 105);
}


.single-article Button{
    font-size: 1.5em;
    margin-bottom: 5px;
}

.single-article img{
    width:30em;
    height: 20em;
    margin:15px auto;
    padding:0px;
    border: 2px solid rgb(64, 2, 105);
    border-radius: 12px;
}


.interact-buttons{
    background-color: white;
    color:black;
    padding: 5px 8px;
    border: 2px solid rgb(64, 2, 105);
    border-radius: 12px;
}

.interact-buttons:hover{
    background-color: rgb(64, 2, 105);
    color: white;
}

/* MEDIA QUERIES FOR SINGLE ARTICLE */
@media only screen and (max-width: 600px) {
    .single-article h2{
        font-size: 1.75em;
    }

    .single-article Button{
        font-size: 1em;
        margin-bottom: 5px;
    }
    .single-article img{
        width:22em;
        height: 12em;
    }

    .single-article p{
        font-size: 1.25em;
    }

}

/* COMMENTS */

.comments{
    border: 3px solid rgb(64, 2, 105);
    border-radius: 8px;;
    margin: 10px auto;
    width:70%;
}

.comments h3{
    text-align:right;
    font-size: 1.2em;
    margin: 0px;
}

.comments a{
    color: rgb(64, 2, 105);
}

.comments p{
    font-size: 1.4em;
    margin-top:5px;
    padding: 0px 5px;
}

.comments button{
    background-color: white;
    color: aliceblue;
    width: 4em;
   margin-bottom: 5px;
   border-radius: 12px;
}

.comments button:hover{
    background-color: rgb(64, 2, 105);
}


.no-comment{
    font-size:2em;
    text-align: center;
    color: red;
}

#delete-button{
    text-align: center;
    color: black;
    border: 2px solid rgb(64, 2, 105);
    padding:8px 5px;
}

#delete-button:hover{
    color: white;
}


.comments-button-row {
    display: flex;
    align-items: center;
    margin-left: 10px; 
    justify-content:space-evenly;
}

/* MEDIA QUERIES FOR COMMENTS */
@media only screen and (max-width: 600px) {
    .comments p{
        font-size: 1.1em;
        margin-top:5px;
        padding: 0px 5px;
    }
    .comments h3{
        text-align:left;
        font-size: 1em;
    }

}



/* FORM */

.post-comment-form{
    margin-top:15px;
    text-align: center;
    font-size: 1.5em;
    background-color: rgb(64, 2, 105);
    color: aliceblue;
}

.post-comment-form textarea{
    width:80%;
    margin:15px auto;
}

.post-comment-form button{
    border:2px solid black;
    background-color: white;
    color: rgb(64, 2, 105);
    margin-bottom: 15px;
    border-radius: 12px;
}

.post-comment-form button:hover{
    border:2px solid white;
    background-color: rgb(47, 47, 47);
    color: aliceblue;
}

.comment-posted{
    font-size:2em;
    text-align: center;
    color: rgb(64, 2, 105);
    border: 1px solid rgb(64, 2, 105);
    width: 50vw;
    margin: 10px auto;
}

.posting-error{
    font-size:1.5em;
    text-align: center;
    background-color: red;
    color: white;
    width:50vw;
    margin:10px auto;
}

/* MEDIA QUERIES FOR COMMENTS FORM */
@media only screen and (max-width: 600px) {
    .comment-posted{
        font-size:1em;
    }

    .post-comment-form button{
        font-size: 0.75em;
    }

}

/* TOPICS */
.topics-instruction{
font-size: 2em;
text-align: center;
margin-top: 15px;
}

.topics-button{
    background-color: white;
    color: black;
    border: 3px solid rgb(64, 2, 105);
    border-radius: 8px;
    font-size: 1.2em;
    padding: 15px 15px 0px 15px;
}

.topics-div{
    display: inline-flex; 
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 10px;
}


.topics-button:hover{
    background-color: rgb(47, 47, 47);
    color: aliceblue;
}

.sorting-form{
    font-size: 1.1em;
    margin: 5px;
}

.sorting-form button{
    margin-left:5px;
}

.sorting-form button:hover{
    background-color: black;
}

#sort_by{
    margin-left: 5px;
}

#order_by{
    margin-left: 5px;
}

/* MEDIA QUERIES FOR  TOPICS*/
@media only screen and (max-width: 600px) {
    .topics-instruction{
        font-size: 1em;
    }
    .topics-button{
        font-size: 0.75em;
        padding: 10px 10px 0px 10px;
    }

    .sorting-form{
        font-size: 0.75em;
        margin: 5px;
    }

}

/* ERROR PAGE */

.error-page{
    margin-top: 10px;
    text-align: center;
    font-size: 2em;
}

/* USER CARD */

.user-card{
    width:50vw;
    text-align: center;
    background-color: rgb(64, 2, 105);
    color: white;
    font-size: 1.75em;
    margin: 15px auto;
    border-radius: 12px;
}

.user-card img{
    margin-top: 10px;
    border: 2px solid black;
    border-radius: 8px;
    width:200px;
    height:200px;
}

/* POST ARTICLE */

.post-article-h1{
    font-size: 2em;
}
.post-article-form{
    background-color: rgb(64, 2, 105);
    color: white;
    width: 30vw;
    margin: 10px auto;
    padding: 10px;
    border-radius: 12px;
}

.post-article-form label{
    font-size: 1.1em;
    margin:20px;
    width:80%;
}
.post-article-form input{
    font-size: 1.1em;
}

.post-article-form select{
    font-size: 1.1em;
}

.post-article-form textarea{
    font-size: 1.1em;
    width: 100%;
}

.post-article-form button{
    background-color:white;
    color: rgb(64, 2, 105);
    font-size: 1.1em;
    width: 100%;
    border-radius: 12px;
    margin: 10px auto;
}

.post-article-form button:hover{
    background-color: rgb(47, 47, 47);
    color: white;
    transition: 0.3s;
    transition-timing-function: linear;
}

.article-posted{
    font-size:2em;
    text-align: center;
    color: rgb(64, 2, 105);
    width: 50vw;
    margin: 10px auto;
}

.return-to-articles{
    font-size:1.75em;
    text-align: center;
    color: rgb(64, 2, 105);
    width: 50vw;
    margin: 10px auto 50px auto;
}

/* MEDIA QUERIES FOR Post ARTICLES */
@media only screen and (max-width: 600px) {
    .post-article-h1{
        font-size: 1.7em;
    }

    .post-article-form{
        width: 90vw;
    }
    .article-posted{
        font-size:1em;
    }
    .return-to-articles{
        font-size:0.75em;
    }

}

/* FOOTER */
.copyright{
    text-align: center;
    font-size: 1.25em;
    margin-top: 20px;
    background-color: rgb(64, 2, 105);
    color: white;
    padding:5px;
}

.copyright button{
    background-color: rgb(64, 2, 105);
    color: white;
    border: 1px solid white;
    border-radius: 8px;
    margin-left: 10px;
}

.copyright button:hover{
    background-color: rgb(47, 47, 47);
    color: white;
    font-size:1.2em;
    transition: 0.3s;
    transition-timing-function: linear;
}